head {
  	height: 0%;
	margin: 0;
	text-align: center;
	width: 0%;
}

body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.navbar-fixed-top { 
	position: fixed;
	right: 0;
	left: 0;
	z-index: 999; 
	top: 0;
	background-color: #f7f7f7;
	color: #666666;
	font-family: 'Josefin Sans';
	padding: 20px;
	letter-spacing: 1.3px;
}

h1 {
	font-size: 22px;
	font-weight: 100;
}

.studentDescription {
	padding: 10px 0;
	margin: 30px;
  	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: rgb(121,149,117);
	padding-top: 75px;
}
.resume {
	padding-left:100px;
	padding-right:100px;
}
